:root {
    // Шрифти
    --font-family: "Inter", sans-serif;

    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family);

    --font-size-l: 20px;
    --font-line-l: 24px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family);

    --font-size-xl: 24px;
    --font-line-xl: 30px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family);


    // Розміри
    --sidebar-width: 200px;
    --sidebar-width-collapsed: 50px;

    // Транзішіон
    --transition: background-color 0.3s ease-in-out;

    // Кольори
    --bg-color: #fff;
    --overlay-modal: rgb(17 18 19 / 40%);
    --button: #e44848;
    --main: #101828;
    --inputs: #f7f7f7;
    --block-features: #f2f4f7;
    --rating: #ffc531;
    --text: #475467;

}
