.container {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background-color:  var(--block-features);
    padding: 12px 18px;
    max-width: 230px;

    &_icon {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_text {
        font: var(--font-m);
        text-align: center;
        font-weight: 500;
        color: var(--primary-color);
    }

}