.container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 10px;
    padding: 24px;
    width: 448px;
}

.title {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #101828;
    margin-bottom: 8px;
}

.text {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #475467;
    margin-bottom: 24px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 14px;

    &_item {
        position: relative;
    }
}

.item {
    border-radius: 10px;
    padding: 18px;
    width: 100%;
    border: none;
    background-color: #F7F7F7;

    &::placeholder {
        font-family: Inter, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        color: rgba(16, 24, 40, 0.6);
    }
}
.comment {
    height: 114px;
    resize: none;
    margin-bottom: 32px;
}
.error {
    position: absolute;
    left: 18px;
    font-family: Inter, sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 150%;
    color: #E44848;
}

.btn {
    margin-bottom: 24px;
}

.icon_calendar {
    position: absolute;
    right: 18px;
    top: 18px;
}