.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    color: var(--primary-color);
}

.overlay {
    width: 100%;
    height: 100%;
    background: var(--overlay-modal);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    border-radius: 20px;
    padding: 40px;
    width: 982px;
    background: var(--bg-color);

    &_title{
        margin-bottom: 24px;
    }
}

.btn_close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    &_text {
        font: var(--font-xl);
        font-weight: 600;
        color: var(--primary-color);
    }

    &_btn {
        cursor: pointer;
    }
}

.reit_local {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 16px;
    margin-bottom: 16px;

    &_reit {
        display: flex;
        align-items: center;
        gap: 4px
    }

    &_text {
        font: var(--font-m);
        font-weight: 400;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: var(--primary-color);
    }

    &_text_l {
        font: var(--font-m);
        font-weight: 400;
        color: var(--primary-color);
    }
}

.price {
    font: var(--font-l);
    font-weight: 600;
    color: var(--primary-color);
}

.description {
    font: var(--font-m);
    font-weight: 400;
    color: var(--secondary-color);
    margin-bottom: 44px;
}
