.container_btn {
    position: relative;
}

.label {
    margin-bottom: 8px;
    font: var(--font-m);
    color: var(--secondary-color);
    font-weight: 500
}

.button {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 42px;
    border-radius: 10px;
    border: none;
    width: 360px;
    height: 56px;
    background-color: var(--inputs);
    color: var(--secondary-color);
    text-align: left;
    cursor: pointer;
}

.svg {
    position: absolute;
    top: 18px;
    left: 18px;
}

.options {
    position: absolute;
    width: 360px;
    margin-top: 4px;
    padding: 8px;
    background-color: var(--inputs);
    color: var(--secondary-color);
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
}

.option {
    &:hover,
    &:focus {
        background-color: var(--rating);
        border-radius: 4px;
    }
}