.app_dark_theme {

    --bg-color: #1b2b34;
    --inverted-bg-color: #fff;

    --primary-color: #FFF;
    --secondary-color: #FFF;

    --bg-sidebar: #101828;

    --accent-redesigned: #1D59FF;
    --inputs: #101828;
    --line: rgb(221 227 241 / 10%);
    --line-card: rgb(221 227 241 / 20%);
    --block-features: #101828;
}
