.app_light_theme {

    --bg-color: #fff;
    --inverted-bg-color: #1b2b34;

    --primary-color: #101828;
    --secondary-color: #475467;

    --bg-sidebar: #f7f7f7;

    --accent-redesigned: #1D59FF;
    --line: rgb(16 24 40 / 10%);
    --line-card: rgb(16 24 40 / 20%);
}
