.app_orange_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #bd5012;

    --primary-color: #9a1a0e;
    --secondary-color: #d01f0e;

    --bg-sidebar: #ffc531;

    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #faf4bc;

    --inputs: #ffc531;
    --block-features: #dbd5dc;
    --line: rgb(16 24 40 / 10%);
    --line-card: rgb(16 24 40 / 20%);

    --icon-redesigned: #4875F0;
    --accent-redesigned: #1D59FF;
}
