.MainLayout {
    display: flex;
}

.sidebar {
    padding: 32px;
    max-width: 284px;
    position: sticky;
    top: 0;
    height: 100vh;
}

.content {
    display: flex;
    max-width: 1600px;
    justify-self: center;
    padding: 32px;
    width: 100%;
}
