.container {
    width: 888px;
    display: flex;
    gap: 24px;
    padding: 24px;
    background: var(--bg-color);
    border-radius: 20px;
    border: 1px solid var(--primary-color);

    &_img {
        overflow: hidden;
    }

    &_content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &_title {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &_description {
            font: var(--font-m);
            font-weight: 400;
            color: var(--secondary-color);
        }
    }
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 16px;
}

.loader {
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.message {
    font: var(--font-m);
    font-weight: 500;
    color: var(--primary-color);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.container_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.not_found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-left: 200px;
}