.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 128px;
    border: 1px solid var(--inputs);
    border-radius: 10px;
    height: 95px;
    cursor: pointer;
    background-color: var(--inputs);
}

.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 128px;
    border: 1px solid var(--button);
    border-radius: 10px;
    height: 95px;
    cursor: pointer;
}

.text {
    font: var(--font-m);
    font-weight: 500;
    color: var(--primary-color)
}