.container {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 128px;
  border: 1px solid #F7F7F7;
  border-radius: 10px;
  height: 95px;
  cursor: pointer;
}

.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 128px;
  border: 1px solid #E44848;
  border-radius: 10px;
  height: 95px;
  cursor: pointer;

}